@import url('variables.css');

.btn-cta-primary {
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: hsl(212, 50%, 30%);
	color: white;
	max-width: 250px;
	min-width: 200px;
	font-size: var(--fs-small);
}

.btn-cta-primary:hover {
	background-color: hsl(213, 50%, 45%);
}

.btn-cta-primary:active {
	transform: scale(0.98);
}

#signup-login-btns-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	margin-top: 30px;
}
