@import url('variables.css');

/* game room styles */
#game-board {
    min-width: 400px;
    min-height: 300px;
    border-radius: 20px;
    background-color: var(--cream-200);
    border-collapse:separate;
    margin: 20px;
}

.board-location {
	box-shadow: inset 0 0 0 2px hsl(129, 51%, 58%); /* Adjust size and color as needed */
    border: 3px solid var(--cream-200);
	font-size: 90px;
    text-align: center;
    width: 130px;
    height: 135px;
}

#table-info {
	display: flex;
    align-items: center;
}

#table-names {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.username-indicator {
	width: 300px;
    height: 50px;
    /* background-color: red; */
}

#info-box {
	height: 150px;
    width: 300px;
    background-color:hsl(214, 80%, 90%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-large);
}

.username-indicator {
	display: flex;
    justify-content: center;
    padding: 8px 0px 8px 0px;
    font-size: var(--fs-large);
}

/* per-cell styling for the game board */
.board-location {
	background-color: hsl(128, 71%, 82%);
}

.winning-highlight {
	background-color: hsl(129, 51%, 58%);
	box-shadow: inset 0 0 0 4px hsl(128, 30%, 48%);
}

.losing-highlight {
	background-color: hsl(0, 90%, 85%);
	box-shadow: inset 0 0 0 4px hsl(0, 80%, 70%);
}

/* responsive - media queries */
@media (min-width: 768px) and (max-width: 1024px) {
	/* game board and info */
	#table-info {
		flex-direction: column;
		gap: 20px;
	}
	#info-box {
		height: calc(var(--fs-normal) + 40px);
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	/* game board and info */
	#table-info {
		flex-direction: column;
		gap: 20px;
	}
	#info-box {
		height: calc(var(--fs-normal) + 40px);
	}
}

@media (min-width: 375px) and (max-width: 425px) {
	/* game board and info */
	#table-info {
		flex-direction: column;
		gap: 20px;
	}
	#info-box {
		height: calc(var(--fs-normal) + 40px);
	}
	.board-location {
		max-width: 80px;
		max-height: 90px;
	}
}

@media (min-width: 320px) and (max-width: 375px) {
	/* game board and info */
	#table-info {
		flex-direction: column;
	}
}




td#\30 {
	/* top left cell */
	border-radius: 20px 0px 20px 0px;
}
td#\31 {
	/* top center cell */
	border-radius: 0px 0px 20px 20px;
}
td#\32 {
	/* top right cell */
	border-radius: 0px 20px 0px 20px;
}
td#\33 {
	/* center left cell */
	border-radius: 0px 20px 20px 0px;
}
td#\34 {
	/* center center cell */
	border-radius: 20px 20px 20px 20px;
}
td#\35 {
	/* center center cell */
	border-radius: 20px 0px 0px 20px;
}
td#\36 {
	/* bottom left cell */
	border-radius: 0px 20px 0px 20px;
}
td#\37 {
	/* bottom center cell */
	border-radius: 20px 20px 0px 0px;
}
td#\38 {
	/* bottom right cell */
	border-radius: 20px 0px 20px 0px;
}